* {
  padding: 0;
  margin: 0;
}
.topHeader {
}
body {
  position: relative;
}
table {
  padding: 20px;
  height: auto;
  display: flex;
  width: 80vw;
  justify-content: center;
  position: absolute;
  left: 10%;
  color: #f1f1f1;
  text-align: center;
}
th {
  border: 1px solid lightgray;
  padding: 20px;
  width: 80vw;
}
td {
  padding: 20px;
  width: 80vw;
  border: 1px solid lightgray;
}
tr {
  width: 80vw;
}

@media screen and (max-width: 480px) {
  table {
    margin-top: -40px;
    justify-content: center;
    padding: 0;
    left: 0%;
    width: 380px;
  }
  th {
    padding: 5px;
  }
  td {
    margin: 10px 0px 5px 0;
    padding: 5px;
  }
  tr {
    margin: 5px 0px 5px 0;
    padding: 5px;
  }
}
